<html layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
    <div class="event-section">
        <div class="container p-3">
            <a class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
                <span class="fs-5 fw-semibold">찜 목록</span>
            </a>
            <div class="top-wishContainer">
                <div class="form-check" style="padding-top:5px; margin-left:5px;">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        전체 선택
                    </label>
                </div>
                <div class="btn btn-sm btn-outline-secondary" style="margin-left:5px;">
                    삭제
                </div>
                <div class="btn btn-sm btn-outline-secondary" style="margin-left:5px;">
                    장바구니 담기
                </div>
            </div>
            <div class="middle-wishContainer">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                </label>
                            </div>
                        </th>
                        <th scope="col" style="text-align:center;">상품정보</th>
                        <th scope="col" style="text-align:center;">가격</th>
                        <th scope="col" style="text-align:center;">삭제 / 장바구니</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 이벤트 목록(eventList)을 기준으로 반복 -->
                    <tr th:each="book : ${bookList}">
                        <!-- 이벤트 정보 출력 -->
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault"></label>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div style="width:120px; height:120px;">
                                    <svg class="bd-placeholder-img card-img-top" width="120px" height="120px"
                                         xmlns="http://www.w3.org/2000/svg" role="img"
                                         aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                         focusable="false">
                                        <title>이벤트</title>
                                        <rect width="120px" height="120px" fill="#55595c"/>
                                        <text x="25%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                                    </svg>
                                </div>
                                <div style="margin-left: 50px; justify-content:center;">
                                    <a th:href="@{|/book/detail/${book.id}|}" th:text="${book.subject}"></a>
                                </div>
                            </div>
                        </td>
                        <td th:text="${book.price}"></td>
                        <td style="align-items:center;">
                            <!-- 상품을 장바구니에 담는 버튼 -->
                            <div class="btn btn-sm btn-outline-secondary">
                                <a class="addCartItem" th:id="'addCartItem_' + ${book.id}" onclick="addCartItem(${book.id}); return false;">장바구니 담기</a>
                            </div>
                            <!-- 찜 삭제 버튼 -->
                            <div class="btn btn-sm btn-outline-secondary">
                                <a class="wishDelete" th:id="'wishDelete_' + ${book.id}" href="#" onclick="deleteEvent(${book.id}); return false;">삭제</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/wish/wish.js"></script>
    <script>
        $(document).ready(function () {
    $(".addCartItem").click(function () {
        var bookId = this.id.split('_')[1];

        Swal.fire({
            title: '장바구니에',
            text: '해당 상품을 담으시겠습니까?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '담기',
            cancelButtonText: '취소',
            preConfirm: () => {
                return new Promise((resolve) => {
                    // Ajax 요청을 통한 서버에서의 삭제 작업
                    $.ajax({
                        url: '/cartitem/add/' + bookId,
                        type: 'GET',
                        success: function (data) {
                              resolve(true);
                        },
                        error: function () {
                            resolve(false);
                        }
                    });
                });
            }
        }).then((result) => {
            if (result.isConfirmed) {
                // SweetAlert2 확인 버튼을 누르면 실행되는 부분
                Swal.fire(
                    '장바구니에 상품을 담았습니다.',
                    '',
                    'success'
                ).then(() => {
                    window.location.href = '/wish/list';
                });
            }
        });
    });
});

    </script>
</div>
</html>
