<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="event-section">
        <div class="container p-3">
            <a class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
                <span class="fs-5 fw-semibold">쿠폰함</span>
            </a>
            <div class="middle-wishContainer">
                <table class="table table-hover">
                    <thead style="vertical-align: middle; text-align:center;">
                    <tr>
                        <th scope="col">쿠폰 이름</th>
                        <th scope="col">쿠폰 내용</th>
                        <th scope="col">쿠폰 할인가</th>
                        <th scope="col">상세 내용 보기</th>
                    </thead>
                    <tbody style="vertical-align: middle;">
                    <tr th:each="coupon : ${couponList}">
                        <td>
                            <div>
                                <a th:text="${coupon.title}"></a>
                            </div>
                        </td>
                        <td>
                            <div>
                                <a th:text="${coupon.content}"></a>
                            </div>
                        </td>
                        <td style="text-align:center;">
                            <div style="margin-left:10px;"
                                 th:text="${#numbers.formatInteger(coupon.discount_price, 0, 'COMMA')} + ' 원'"></div>
                        </td>
                        <td style="text-align:center;">
                            <a class="btn btn-sm btn-outline-secondary" th:href="@{|/coupon/detail/${coupon.id}|}">상세
                                내용</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>
