<div class="article-table">
    <table class="article-list">
        <thead class="article-list-head">
        <tr>
            <th>번호</th>
            <th class="article-list-subject-head">제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
            <th>추천수</th>
        </tr>
        </thead>
        <div th:each="book : ${books}">
            <h6>제목: <span th:text="${book.subject}"></span></h6>
            <p>내용: <span th:text="${book.content}"></span></p>
            <p>가격: <span th:text="${book.price}"></span></p>
            <p>출판사: <span th:text="${book.publisher}"></span></p>
            <p>할인율: <span th:text="${book.discount}"></span></p>
            <p>책 소개: <span th:text="${book.bookIntroduce}"></span></p>
            <a href="http://localhost:8010/category/foreign1">
                <!-- 이미지 파일 추가 -->
                <img th:src="'/path/to/your/images/' + ${book.bookThumbnailImg}" alt="Book Thumbnail">
            </a>
        </div>
    </table>
</div>
<a th:href="@{/book/create}" class="btn btn-primary">도서 등록하기</a>
<a th:href="@{/category/create}" class="btn btn-primary">카테고리 등록하기</a>

<!--<div th:each="category : ${categories}">-->
<!--    <div th:text="${category.categoryName}"></div>-->
<!--</div>-->
<a th:href="@{'/' + ${categoryName}}">베스트셀러 페이지로 이동</a>

