.container {
     display: flex;
     justify-content: center;
 }
.main-container {
    max-width: 1200px;
}
.main-container > .head-box {
    display: flex;
    justify-content: center;
}
.sellerIntroduce {
    max-width: 600px;
}