<html layout:decorate="~{memberLayout}">
<form layout:fragment="content" th:action="@{/member/sendPasswordConfirmCode}" th:object="${findPasswordForm}" method="post">
        <h1 class="h3 mb-3 fw-normal">비밀번호 찾기</h1>
        <h2 class="h5 mb-3 fw-normal">아이디와 비밀번호를 입력해주세요</h2>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
        </div>
        <div class="form-floating">
            <input type="text" id="username" name="username" class="form-control">
            <label for="username" class="floatingInput">아이디</label>
        </div>
        <div class="form-floating">
            <input type="email" id="toEmail" name="toEmail" class="form-control">
            <label for="email" class="floatingInput">회원 가입시 작성한 이메일 입력</label>
        </div>

        <button type="submit" class="btn btn-primary w-100 py-2" onclick="alertMail()">코드 발송</button>
    </form>
    <br/>
</html>