<div class="left-side" th:fragment="memberSide">
  <div class="flex-shrink-0 p-3" style="width: 200px;">
    <a th:href="@{/event/list}"
       class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
      <span class="fs-5 fw-semibold">마이 페이지</span>
    </a>
    <ul class="list-unstyled ps-0">
      개인정보 띄우기
      <li class="border-top my-3"></li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
          나의 정보
        </button>
        <div class="collapse show" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a th:href="@{/member/modify}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">정보 수정</a>
            </li>
            <li><a th:href="@{/cartitem/list}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">장바구니</a>
            </li>
            <li><a th:href="@{/wish/list}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">찜목록</a>
            </li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">쿠폰함</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          구매
        </button>
        <div class="collapse" id="dashboard-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">구매 목록</a>
            </li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">결제 목록</a>
            </li>
<!--            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">대여 목록</a>-->
<!--            </li>-->
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
          판매
        </button>
        <div class="collapse" id="orders-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a th:href="@{/book/list/seller}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">판매 목록</a>
            </li>
            <li><a th:href="@{/rebate/seller/list}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">정산 내역</a>
            </li>
            <li><a th:href="@{/rebate/seller/list}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">정산 확인</a>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          관리자
        </button>
        <div class="collapse" id="account-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a th:href="@{/apply/list}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">판매자 신청 리스트</a>
            </li>
<!--            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">신고 리스트</a>-->
<!--            </li>-->
            <li><a th:href="@{/faq/list}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">FAQ</a>
            </li>
            <li><a th:href="@{/event/list}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">이벤트</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>