<html layout:decorate="~{memberLayout}">
<form layout:fragment="content" th:action="@{|/member/modify/${member.id}|}" th:object="${memberModifyForm}"
      method="post">
    <h1 class="h3 mb-3 fw-normal">프로필 수정</h1>
    <div th:replace="~{form_errors :: formErrorsFragment}"></div>
    <div class="form-floating">
        <input readonly type="text" th:value="${member.username}" name="username" class="form-control">
        <label for="membername" class="floatingInput">사용자ID</label>
    </div>
    <div class="form-floating">
        <input type="text" th:field="${member.nickname}" class="form-control">
        <label for="nickname" class="floatingInput">닉네임</label>
    </div>
    <div class="form-floating">
        <input type="email" th:field="${member.email}" class="form-control">
        <label for="email" class="floatingInput">이메일</label>
    </div>
    <div class="form-floating">
        <input type="password" th:field="*{password1}" class="form-control">
        <label for="password1" class="floatingPassword">비밀번호 변경</label>
    </div>
    <div class="form-floating">
        <input type="password" th:field="*{password2}" class="form-control">
        <label for="password2" class="floatingPassword">비밀번호 변경 확인</label>
    </div>
    <button id="modifyBtn" style="margin-bottom:10px;" type="submit" class="modify-button btn btn-primary w-100 py-2">정보수정</button>
    <a href="/" class="btn btn-secondary">홈으로</a>
</form>
</html>