
<h1>회원 가입</h1>
<form th:action="@{/member/register}" th:object="${memberForm}" method="post">
    <label for="username">아이디</label>
    <input type="text"  th:field="*{username}">
    <label for="nickname">닉네임</label>
    <input type="text"  th:field="*{nickname}">
    <label for="email1">이메일</label>
    <input type="email1"  th:field="*{email1}">
    <label for="password1">비밀번호</label>
    <input type="password"  th:field="*{password1}">
    <label for="password2">비밀번호 확인</label>
    <input type="password"  th:field="*{password2}">

    <button type="submit">회원가입</button>
</form>
