<html layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" type="text/css" href="/css/rebate/rebate_admin.css">
</head>
<div layout:fragment="content" class="container">
    <div class="main-container">
        <div class="head-box">
            <h2>관리자 정산 페이지</h2>
        </div>
        <div class="body-box">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">아이디</th>
                    <th>닉네임</th>
                    <th>판매자 정산 금액</th>
                    <th>관리자 정산 금액</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="member : ${sellerList}">
                    <th scope="row">[[${member.username}]]</th>
                    <td >[[${member.nickname}]] </td>
                    <td></td>
                    <td>[[${rebate.totalFee}]] %</td>
                    <td> 원</td>
                </tr>
                <tr>
                    <th scope="row">합계</th>
                    <td>/  /</td>
                    <td>판매자 정산 금액 합계</td>
                    <td>관리자 정산 금액 합계</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</html>