.bt_section {
    width: 100%;
    height: auto;
}

/*판매(책) 상단부*/
.book_top-section {
    width: 100%;
    display: flex
}

.book_left-side {
    height:auto;
}
.center-detail {
    width: 50%;
    height:auto;
}
.book_right-side {
    margin-top: 5px;
    width: 15%;
}
.book_right-nav {
    position: sticky;
    top: 0;
}

.coupon_container {
    margin-top: 30%;
}

/*판매(책) 중간*/
.book_middle-section {
    width: auto;
    height: auto;
}


/*판매(책) 하단 (리뷰 영역)*/
.book_bottom-section {
    width: auto;
    height: auto;
}
.review_form {
    padding: 0.5rem 1rem;
    background-color: rgb(0,0,0,.03);
}

.book_navbar {
    position:sticky;
    top:0;
}
.book_nav-container {
    border-bottom: 1px solid black;
    display:flex;
    align-items: center;
    align-self: center;
    text-align: center;
}
.book_info {
    height: 100%;
    width: 100%;
}

ul {
     list-style-type: none;
}
textarea {
     resize: none;
}
