<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Eat Book</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--css-->
    <link rel="stylesheet" type="text/css" href="/css/main/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main/vendor.css">
    <link rel="stylesheet" type="text/css" href="/css/main/layout.css">
    <link rel="stylesheet" type="text/css" href="/css/main/sidebars.css">
    <link rel="stylesheet" type="text/css" href="/css/cart/cart.css"/>
    <link rel="stylesheet" type="text/css" href="/css/wish/wish.css"/>
    <link rel="stylesheet" type="text/css" href="/css/faq/faq.css">
    <link rel="stylesheet" type="text/css" href="/css/event/event.css">
    <link rel="stylesheet" type="text/css" href="/css/book/book.css">
    <link rel="stylesheet" type="text/css" href="/css/book/book_detail.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Lato:wght@300;400;700&display=swap"
          rel="stylesheet">
    <!-- Boxicons CSS -->
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet"/>
    <!-- script -->
    <script src="/js/kakaoButton.js"></script>
</head>
<body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true"
      tabindex="0">
<!-- 네비바-->
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<div class="layout_container">
    <main>
        <section class="main_content">
            <!-- 여기에 내용이 들어감-->
            <th:block layout:fragment="content"></th:block>
        </section>
        <!-- 바로가기 메뉴-->
        <div th:replace="~{quickmenu :: quickmenuFragment}"></div>
    </main>
</div>

<!-- footer(수정필요)-->
<!--<div th:replace="~{footer :: footerFragment}"></div>-->
<!-- script -->
<script type="text/javascript" src="/js/main/bootstrap.bundle.min.js"></script>
<script src="/js/main/jquery-1.11.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/js/main/script.js"></script>
</body>
</html>